<div class="home-header">
  <h1>Todos os Pensamentos</h1>
</div>
<div class="toughts-container">
  {{#each toughts}}
  <figure>
    <blockquote>
      "{{this.title}}"
    </blockquote>
    <figcaption>por <span>{{this.User.name}}</span></figcaption>
  </figure>
  {{/each}}
</div>