* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
}

/*NAVBAR*/
#logo img {
  height: 40px;
}

#navbar {
  padding: 1.2em 1.4em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  border-bottom: 1px solid #F6982d;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1em;
}

#navbar ul li a {
  text-decoration: none;
  transition: .5s;
  font-weight: bold;
}

#navbar ul li a:hover {
  color: #F6982d;
}

/*CONTAINER*/
.container {
  min-height: 60vh;
  padding: 2em;
}

/*FOOTER*/
footer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #f6982d;
}

footer span {
  font-weight: bold;
  color: #f6982d;
}